<div class="container">
    <div class="row">
        <!-- col 1 -->
        <div class="col-4">
            <div class="card-group">
                <div class="card" style="width: 18rem; margin: auto">
                    <img src="../../assets/images/poster.thumb.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hellboy</h5>
                        <p class="card-text">Some description here.</p>
                        <a href="#" class="btn btn-primary" routerLink="/watch-film">Watch</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- col 2  -->
        <div class="col-8" style="background-color: antiquewhite; height: 600px; margin: auto">
            <h1>Information</h1>
            <ul>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
            </ul>
            <h1>Director</h1>
            <ul>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
            </ul>
            <h1>Director</h1>
            <ul>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
            </ul>
        </div>
        <h2>Star Rating</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <hr style="  border-top: 1px solid #c3bdb9;width: 100%;margin-left: 10px;margin-bottom: 40px;">

        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">My name.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">My name.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">My name.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">My name.</p>
                </div>
            </div>
        </div>
    </div>

</div>