<div class="container">
    <div class="row">
        <!-- col 1 -->
        <div class="col-4">
            <div class="card-group">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/poster.thumb.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary" routerLink = "/watch-film">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- col 2  -->
        <div class="col-4" style="background-color: antiquewhite">
            <h1>Information</h1>
            <ul>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
            </ul>
            <h1>Director</h1>
            <ul>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
            </ul>
            <h1>Director</h1>
            <ul>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
            </ul>
        </div>
        <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">My name.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">My name.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">My name.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">My name.</p>
                    </div>
                </div>
            </div>
    </div>

</div>