<div class="container">
    <div class="d-flex flex-row" style="padding: 100px">
        <!-- col 1 -->
        <div class="col-4">
            <div class="card-group">
                <div class="card" style="width: 18rem; margin: auto">
                    <img src="../../assets/images/poster.thumb.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hellboy</h5>
                        <p class="card-text">Some description here.</p>
                        <a href="#" class="btn btn-primary" routerLink="/watch-film">Watch</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- col 2  -->
        <div class="col-8" style="background-color: antiquewhite; height: 100%;">
            <div class="">
                <p>Số tập : <span>5</span></p>
                <p>Thời lượng : <span>5</span></p>
                <p>Dạo diễn : <span>5</span></p>
                <p>Diễn viên : <span>5</span></p>
                <p>Chất lượng : <span>5</span></p>
                <p>Độ phân giải : <span>5</span></p>
                <p>Ngôn ngữ : <span>5</span></p>
                <p>Thể loại : <span>5</span></p>
                <p>Lượt xem : <span>5</span></p>
            </div>
            <hr>
            <div class="">
                <h3 style="float: left">Star Rating</h3>
                <div style="float: right">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </div>

    <hr style="color: khaki;border:1px solid;width:100%">
    <div class="" style="width:104%">
        <div class="row">
            <div class="card" style="width: 9rem;">
                <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">My name.</p>
                </div>
            </div>
            <div class="card" style="width: 9rem;">
                <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">My name.</p>
                </div>
            </div>
            <div class="card" style="width: 9rem;">
                <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">My name.</p>
                </div>
            </div>
            <div class="card" style="width: 9rem;">
                <img src="../../assets/images/preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">My name.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-film">
        <div class="card" style="width: 100%;margin-top: 40px">
            <h1>Nội dung phim</h1>
            <p>....</p>
        </div>
    </div>
    <div class="trailer" style="text-align: center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dE0PLIKz6b8" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>