<div class="container">
    <div class="row">
        <video width="1000" controls style="margin: auto;padding-top: 50px">
            <source src="mov_bbb.mp4" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>
<div class="star">
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="related">
    <div class="row">
        <div class="col-3">
            <img src="../../assets/images/preview.jpg">
        </div>
        <div class="col-3">
            <img src="../../assets/images/preview.jpg">
        </div>
        <div class="col-3">
            <img src="../../assets/images/preview.jpg">
        </div>
        <div class="col-3">
            <img src="../../assets/images/preview.jpg">
        </div>
    </div>
</div>
<!-- <video id='my-video' class='video-js' controls preload='auto' width='640' height='264'
poster='MY_VIDEO_POSTER.jpg' data-setup='{}'>
  <source src='MY_VIDEO.mp4' type='video/mp4'>
  <source src='MY_VIDEO.webm' type='video/webm'>
  <p class='vjs-no-js'>
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
  </p>
</video> -->