<div class="container">
    <div class="row">
        <video width="1000" controls style="margin: auto;padding-top: 50px">
            <source src="../../assets/video/SongGio-K-ICM&JACK.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="">
    <div class="card">
        <h3 style="float: left; width: 100%">Star Rating</h3>
        <div style="float: right">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
    </div>
</div>

<div class="card">
    <h3 style="float: left; width: 100%">Star Rating</h3>
    <div style="float: right">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
</div>
<!-- <video id='my-video' class='video-js' controls preload='auto' width='640' height='264'
poster='MY_VIDEO_POSTER.jpg' data-setup='{}'>
  <source src='MY_VIDEO.mp4' type='video/mp4'>
  <source src='MY_VIDEO.webm' type='video/webm'>
  <p class='vjs-no-js'>
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
  </p>
</video> -->